* {
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}
li {
    list-style: none;
}
header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 70px;
    background-color: #363636;
    color: white;
    align-items: center;
    border-radius: 10px;
    margin-top: 100px;
}

nav li {
    margin-left: 20px;
}
main {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
.thing .how {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.thing .box {
  position: relative;
}
.thing .box h1 {
    position: absolute;
    left: 15px;
    bottom: 60px;
    color: white;
}
.thing .box p {
    position: absolute;
    left: 15px;
    bottom: 40px;
    color: white;
    font-size: 10px;
}
.thing .this {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
} 
.thing .about {
    position: relative;
    height: 200px;
}
.thing .this h2 {
    position: absolute;
    justify-content: center;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
}
.latest {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-top: 50px;
}
.latest .latest-left {
    border: 1px solid black;
    padding: 20px 10px;
}
.latest .latest-left hr {
    width: 40%;
}
.latest .latest-left h1 {
    display: inline;
    padding-right: 10px;
    border-bottom: 2px solid black;
}
.latest .we {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 15px;
   margin-top: 30px;
}
.latest .we-img {
    position: relative;
}
.latest .we-img h3 {
    position: absolute;
    bottom: 0px;
    background-color: red;
    font-size: 15px;
}

.latest button {
    width: 100%;
    padding: 20px;
    background-color: lawngreen;
    color: white;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
}
.latest .latest-right .stay {
    border: 1px solid black;
    padding: 20px;
}
.latest .latest-right h1 {
    display: inline;
    border-bottom: 2px solid black;
    padding-right: 40px;
}
.latest .social {
    margin-top: 60px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.latest .social img {
    border-radius: 50%;

}
.latest .face-img {
    width: 60%;
}
.face p {
    margin-top: 20px;
}
.latest .face {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latest .zara {
    margin: 80px 10px;
}
.latest .latest-right .authors {
    border: 1px solid black;
    padding: 20px;
    margin-top: 50px;
}

.latest .latest-right .najam {
   display: grid;
   grid-template-columns: 1fr 4fr;
   gap: 20px;
   margin-bottom: 20px;
}
.latest .najam-img img{
    border-radius: 50%;
}
.latest .charter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.video {
    margin: 0 auto;
    background-color: rgb(190, 182, 182);
    padding: 20px;
    margin-top: 40px;
}
.video h1 {
    border-bottom: 1px solid black;
    display: inline;
    padding-bottom: 10px;
    padding-right: 30px;
    font-size: 20px;
}
.video .play {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap: 10px
}
.video .play-img {
    position: relative;
}
.video .play-img p {
    position: absolute;
    left: 100px;
    bottom: 20px;
    font-size: 20px;
    color: white;
}

.headline {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}
.headline .headline-left {
    border: 1px solid black;
    padding: 20px;
}
.headline h1 {
    border-bottom: 1px solid black;
    width: 150px;
    padding-bottom: 10px;
    font-size: 20px;
}
.headline hr {
    width: 50%;
}
.headline .big {
    margin-bottom: 100px;
}
.headline .tips {
    margin-top: 20px;
    position: relative;
    margin-right: 20px;
}
.headline img {
    width: 15%;
}
.headline h2 {
    position: absolute;
    left: 140px;
    bottom: 50px;
    font-size: 20px;
}
.headline .desc {
    position: absolute;
    left: 140px;
    bottom: 30px;
}
.headline .date {
    position: absolute;
    left: 140px;
    bottom: 0px;
}
.headline .tips hr {
    width: 100%;
    position: absolute;
    top: 100px;
}
.headline .headline-right {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 80px;
}
.headline-right hr {
    width: 100%;
}
.headline .headline-right p {
    font-size: 25px;
    margin-top: 30px;
}
.headline .headline-right button {
    width: 30%;
    font-size: 20px;
    padding: 15px 20px;
    background-color: lawngreen;
    color: white;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 250px;
}