* {
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
li {
    list-style: none;
}
header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 70px;
    background-color: #363636;
    color: white;
    align-items: center;
    border-radius: 10px;
    margin-top: 100px;
}

nav li {
    margin-left: 20px;
}
main {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
.thing .how {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.thing .box {
  position: relative;
}
.thing .box h1 {
    position: absolute;
    left: 15px;
    bottom: 60px;
    color: white;
}
.thing .box p {
    position: absolute;
    left: 15px;
    bottom: 40px;
    color: white;
    font-size: 10px;
}