* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://baodongnai.com.vn/file/e7837c02876411cd0187645a2551379f/dataimages/201706/original/images1920558_4053279_16.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

form {
    height: 80%;
    background-color: antiquewhite;
    width: 30%;
    border-radius: 10px;
    padding: 40px;
}
#login input[type=text] {
   width: 100%;
   padding: 8px;
   border-radius: 5px;
}

#login h1 {
    text-align: center;
    margin-top: 30px;

}
#login .group {
    margin-bottom: 10px;
}
select {
    width: 100%;
    padding: 8px;
}
table {
    background-color: aliceblue;
}